.body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5{
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.intro {
  width: 100%;
  height: 100vh;
}

/* Header */

.header {
  background-color: #4d97a2;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.header_logo {
  color: #FFFFFF;
  align: center;
  font-size: 30px;
  font-family: 'Cherry Swash', cursive;
}

.header_inner {
  min-height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* Nav */

.nav {
  font-size: 14px;
  float: right;
  text-transform: uppercase;
}

.nav_link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  transition: color .1s linear;
}

.nav_link:hover {
  color: black;
}

    /* Slider */

.slide_container {
  margin: 0px;
  width: 100%;
}

#block-for-slider {
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
}

#viewport {
    height: 40vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}

/* Body */

.section_body {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.section_suptitle {
  position: relative;
  max-width: 600px;
  margin: 55px 0 0 30%;
  font-size: 30px;
}

.section_text {
  margin: 55px 0 0 20%;
  max-width: 850px;
  text-align: center;
}

.img_section {
  width: 100%;
  display: flex;
  padding-left: 20%;
}

.img_item {
  margin: 5% auto;
  flex: 1 1;
}

/* About */

.section_about{
  background-color: #00D089;
  width: 100%;
  height: auto;
}

.about {
  margin: 0 auto;
  display: flex;
  padding-left: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  max-width: 1300px;
}

.about_item {
  margin-right: 1%;
  color: white;
  text-align: center;
  max-width: 135px;
  max-height: 135px;
}

.about_img {
  text-align: center;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.about_info {
  color: white;
  width: 60%;
  text-align: center;
}


#map {
  width: 100%;
  height: 500px;
}
